@import url("base.css");
header{
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: center;
	
}
header .box1{
	width: 1190px;
	height: 90px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .box1 .a1{
	display: block;
	width: 241px;
	height: 40px;
}
header .box1 .a1 .box11{
	
	width: 241px;
	height: 40px;
	background: url("../img/tu1.png") no-repeat center;
	background-size: 241px 40px;
}
header .box1 .box12{
	width: 70px;
	height: 70px;
	background: url("../img/tu2.jpg") no-repeat center;
	background-size: 70px 70px;
}
nav{
	width: 100%;
	height: 48px;
	background-color: #000;
	display: flex;
	justify-content: center;
}
nav .box2{
	width: 1190px;
	height: 48px;
	

}
nav .box2 ul{
	display: block;
	width: auto;
	height: 100%;
	display: flex;
	justify-content: flex-start;
}
nav .box2 ul li{
	width: 128px;
	height: 100%;
}
nav .box2 ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #c4c4c4;
	font-size: 14px;
	line-height: 48px;
	text-align: center;
}
nav .box2 ul li a:hover{
	color: #fff;
}
.section1{
	width: 100%;
	height: 948px;
	background: url("../img/tu3.jpg") no-repeat center;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	/* background-color: #EFEFEF; */

}
.section1 .box3{
	width: 1260px;
	height: 185px;
	position: absolute;
	z-index: 50;
	background-color: #fff;
	bottom: -110px;
	box-shadow: 0px 0px 30px #ccc;
	display: flex;
	justify-content: center;
	align-items: center;

}
.section1 .box3 .box31{
	width: 1024px;
	height: 85px;
	
}
.section1 .box3 .box31 ul{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}
.section1 .box3 .box31 ul li{
	width: 25%;
	height: 100%;
	box-sizing: border-box;
	border-right: 1px solid #c4c4c4;
	display: flex;
	
	justify-content: center;
	align-items: center;
	
}
.section1 .box3 .box31 ul li:nth-child(4){
	border-right: 0px;
}
.section1 .box3 .box31 ul li .box311{
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all ease 0.6s;
}
.section1 .box3 .box31 ul li .box311:hover{
	transform: translateY(-20px);
}
.section1 .box3 .box31 ul li .box311 h2{
	display: block;
	width: auto;
	height: auto;
	font-size: 42px;
	color: #aaa;

}
.section1 .box3 .box31 ul li .box311 h3{
	display: block;
	width: auto;
	height: auto;
	font-size: 14px;
	color: #aaa; 
}
.section2{
	width: 100%;
	height: 140px;
	margin-top: 130px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #EFEFEF; */
}
.s2{
	margin-top: 60px;
}
.section2 .box4{
	width: 96px;
	height: 71px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.section2 .box4 h2{
	display: block;
	width: 100%;
	height: 31px;
	font-size: 24px;
	color: #666;
	line-height: 31px;
	text-align: center;
}
.section2 .box4 h3{
	display: block;
	width: 100%;
	height: 34px;
	font-size: 12px;
	color: #666;
	line-height: 34px;
	text-align: center;
}
.section2 .box4 .box41{
	width: 40px;
	height: 3px;
	background-color: #666;

}
.section3{
	width: 100%;
	height: 630px;
	
	display: flex;
	justify-content: center;
	/* background-color: #EFEFEF; */
}
.section3 .box5{
	width: 1190px;
	height: 100%;
	
	display: flex;
	flex-wrap: wrap;
}
.section3 .box5 div{
	width: 590px;
	height: 310px;
	
}
.section3 .box5 div:nth-child(2){
	margin-left: 10px;

}
.section3 .box5 div:nth-child(3){
	margin-top: 10px;

}
.section3 .box5 div:nth-child(4){
	margin-left: 10px;
	margin-top: 10px;
}
.section3 .box5 .box51{
	background: url("../img/tu4.jpg") no-repeat center;
	background-size: 100% 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section3 .box5 .box52{
	background: url("../img/tu5.jpg") no-repeat center;
	background-size: 100% 100%;
}
.section3 .box5 .box53{
	background: url("../img/tu6.jpg") no-repeat center;
	background-size: 100% 100%;
}
.section3 .box5 .box54{
	background: url("../img/tu7.jpg") no-repeat center;
	background-size: 100% 100%;
}
.section3 .box5 .box51 a{
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	
	z-index: 50;

}
.section3 .box5 .box51 a i{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 40px;
	color: #fff;
	text-align: center;
	line-height: 64px;
}
.section4{
	width: 100%;
	height: 177px;
	margin-top: 20px;
	
	overflow: hidden;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	border-bottom: 1px solid #666;
	/* background-color: #EFEFEF; */
}
.section4 .box6{
	width: 138px;
	height: 37px;
	margin-top: 40px;
	
	box-sizing: border-box;
	border: 1px solid rgb(112, 112, 112);
	
}
.section4 .box6 a{
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.section4 .box6 a h2{
	display: block;
	width: auto;
	height: auto;
	font-size: 14px;
	color: rgb(112, 112, 112);
}
.section4 .box6 a i{
	display: block;
	width: 12px;
	height: 12px;
	
	font-size: 12px;
	color: #989898;
}
.section5{
	width: 100%;
	height: 343px;
	/* background-color: #EFEFEF; */
}
.section5 .bigbox{
	width: 1220px;
	height: 343px;
	margin: 0 auto;
	
	display: flex;
	justify-content: space-between;
}
.section5 .bigbox .box7{
	width: 33.33%;
	height: 100%;
	/* background-color: blue; */
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 1s  linear;




}
.section5 .bigbox .box7 .bigbox2{
	width: 376px;
	height: 312px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 30px #ccc;

}
.section5 .bigbox .box7 .bigbox2 .box71{
	width: 296px;
	height: 222px;
	/* background-color: yellow; */
	overflow: hidden;
	
}
.section5 .bigbox .box7 .bigbox2 .box71 .box711{
	width: 100%;
	height: 43px;
	box-sizing: border-box;
	border-bottom: 1px solid #ededed;
	position: relative;
	transition: all 1s  linear;

}
.section5 .bigbox .box7 .bigbox2 .box71 .box711 .a3{
	display: block;
	width: 100%;
	height: 22px;
	font-size: 16px;
	line-height: 22px;
	color: #555;

}
.section5 .bigbox .box7 .bigbox2 .box71 h2{
	display: block;
	width: 100%;
	height: 96px;
	color: #bababa;
	font-size: 12px;
	line-height: 24px;
	margin-top: 20px;
}
.section5 .bigbox .box7 .bigbox2 .box71 .a4{
	display: block;
	width: 31px;
	height: 29px;
	box-sizing: border-box;
	border: 1px solid #d8d8d8;
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section5 .bigbox .box7 .bigbox2 .box71 .a4 i{
	display: block;
	width: 13px;
	height: 17px;
	
	font-size: 13px;
	color: #bababa;
}
.section5 .bigbox .box7:hover .bigbox2 .box71 .box711 .a3{
	color: #258de8;
}
.section5 .bigbox .box7:hover .bigbox2 .box71 .a4{
	border-color: #999;
}
.section5 .bigbox .box7:hover .bigbox2 .box71 .a4 i{
	color: #989898;
}
.section5 .bigbox .box7 .bigbox2 .box71 .box711 .box7111{
	width: 296px;
	height: 1px;
	background-color: #606060;
	position: absolute;
	top: 42px;
	left: -296px;
	opacity: 0;

}
.section5 .bigbox .box7:hover .bigbox2 .box71 .box711 .box7111{
	transform: translateX(296px);
	opacity: 1;
	transition: all 1s  linear;
}
.section6{
	width: 1280px;
	height: 527px;
	background-color: red;
	margin: 0 auto;
	background: url("../img/tu8.jpg") no-repeat;
	background-size: 790px 100%;
}
.section7{
	width: 100%;
	height: 363px;
	margin-top: 100px;
	background: url("../img/tu9.jpg") no-repeat center;
	background-size: 100% 100%;
	position: relative;


}
.section7 .box8{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(239, 239, 239, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}
.section7 .box8 .box81{
	width: 1200px;
	height: 183px;
	
	position: relative;
}














.section7 .box8 .box81 .box811{
	position: absolute;
	top: 70px;
	left: 0px;
	width: 40px;
	height: 40px;
	
	z-index: 10;
}
.section7 .box8 .box81 .box811 a{
	display: block;
	width: 100%;
	height: 100%;
	color: #8d9095;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
}
.section7 .box8 .box81 .box811:hover a{
	color: #03A9F4;
}
.section7 .box8 .box81 .box812{
	position: absolute;
	top: 70px;
	right: 0px;
	width: 40px;
	height: 40px;
	
	z-index: 10;
}
.section7 .box8 .box81 .box812 a{
	display: block;
	width: 100%;
	height: 100%;
	color: #8d9095;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
}
.section7 .box8 .box81 .box812:hover a{
	color: #03A9F4;
}
.section7 .box8 .box81 .box813{
	width: 1110px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.section7 .box8 .box81 .box813 .box8131{
	position: absolute;
	width: 100%;
	height: 160px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
}
.section7 .box8 .box81 .box813 .box8131:nth-child(1){
	left: 1200px;
}
.section7 .box8 .box81 .box813 .box8132{
	width: 100%;
	height: 23px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section7 .box8 .box81 .box813 .box8131 .left{
	width: 273px;
	height: 160px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.section7 .box8 .box81 .box813 .box8131 .right{
	width: 837px;
	height: 160px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.section7 .box8 .box81 .box813 .box8131 .left .imgbox{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: url("../img/tu11.jpg") no-repeat center;
	background-size: 120px 120px;

}
.section7 .box8 .box81 .box813 .box8131 .right .rbox{
	width: 766px;
	height: 100px;
	
}
.section7 .box8 .box81 .box813 .box8131 .right .rbox .rbox1{
	width: 100%;
	height: 28px;
	
	display: flex;
	justify-content: flex-start;
}
.section7 .box8 .box81 .box813 .box8131 .right .rbox .rbox2{
	width: 100%;
	height: 50px;
	margin-top: 21px;
	
}
.section7 .box8 .box81 .box813 .box8131 .right .rbox .rbox1 span{
	display: block;
	width: auto;
	height: auto;
	font-size: 24px;
	color: #000;
	line-height: 28px;

}
.section7 .box8 .box81 .box813 .box8131 .right .rbox .rbox1 p{
	width: auto;
	height: auto;
	font-size: 12px;
	color: #000;
	line-height: 28px;
} 
.section7 .box8 .box81 .box813 .box8131 .right .rbox .rbox2 h2{
	display: block;
	width: 100%;
	height: auto;
	color: #808080;
	font-size: 12px;
	line-height: 20px;

}
.section7 .box8 .box81 .box813 .box8132 .lunbo{
	width: 6px;
	height: 6px;
	background-color: #000;
}
.section7 .box8 .box81 .box813 .box8132 .lunbo.xy{
	background-color: #ff6700;
}
.section7 .box8 .box81 .box813 .box8132 .lunbo:nth-child(2){
	margin-left: 10px;
}
.section8{
	width: 100%;
	height: 136px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 1px solid #666;
}
.section8 .box9{
	width: 1310px;
	height: 56px;
	
	display: flex;
	justify-content: space-between;

}
.section8 .box9 .box91:nth-child(2n){
	width: 12.5%;
	height: 56px;
	
	background: url("../img/tu12.png") no-repeat center;
	background-size: 100% 100%;

}
.section8 .box9 .box91:nth-child(2n-1){
	width: 12.5%;
	height: 56px;
	
	background: url("../img/tu13.png") no-repeat center;
	background-size: 100% 100%;

}
.section9{
	width: 100%;
	height: 414px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section9 .box10{
	width: 1190px;
	height: 294px;
	
	display: flex;
	justify-content: space-around;
}
.section9 .box10 .box101{
	width: 297px;
	height: 294px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.section9 .box10 .box102{
	width: 892px;
	height: 294px;
	
}
.section9 .box10 .box101 .box1011{
	width: 100%;
	height: 32px;
	
	
}
.section9 .box10 .box101 .box1011 h2{
	font-size: 16px;
	color: #696969;
	line-height: 32px;
}
.section9 .box10 .box101 .box1011 h3{
	display: block;
	width: auto;
	height: auto;
	font-size: 13px;
	color: rgb(136, 136, 136);
	line-height: 32px;
}
.section9 .box10 .box101 .box1011 i{
	display: block;
	width: 24px;
	height: 24px;
	border: 1px solid #000;
	border-radius: 50%;
	margin-right: 7px;
	float: left;
	font-size: 24px;
	color: #000;
	
}
.section9 .box10 .box102 .box1021{
	width: 100%;
	height: 221px;
	
}
.section9 .box10 .box102 .box1022{
	width: 100%;
	height: 73px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.section9 .box10 .box102 .box1022 h4{
	color: #808080;
	font-size: 13px;

}
.section9 .box10 .box102 .box1022 h4 a{
	color: #808080;
	font-size: 13px;
}
.section9 .box10 .box102 .box1021 .b10211{
	width: 100%;
	height: 86px;
	
	

}
.section9 .box10 .box102 .box1021 .b10211 input{
	width: 440px;
	height: 43px;
	float: left;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #E0E0E0;
	box-sizing: border-box;


}
.section9 .box10 .box102 .box1021 .b10211 input:nth-child(2){
	margin-left: 10px;
}
.section9 .box10 .box102 .box1021 .b10211 input:nth-child(4){
	margin-left: 10px;
}
.section9 .box10 .box102 .box1021 .b10212{
	width: 100%;
	height: 40px;
	position: relative;
}
.section9 .box10 .box102 .box1021 .b10212 input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: 0;
	border: 0;
}
.section9 .box10 .box102 .box1021 .b10213{
	width: 100%;
	height: 72px;
	
	display: flex;
	align-items: center;
}
.section9 .box10 .box102 .box1021 .b10213 .in1{
	width: 100px;
	height: 32px;
	font-size: 14px;
	color: #fff;
	background-color: #787878;
	box-sizing: border-box;
	border: 1px solid #595959;
	margin-top: 20px
}
